{% extends 'bulma/base.html' %}
{% block content %}
    {% if hashlist_list %}
        <table class="table is-bordered is-striped is-narrow is-hoverable is-fullwidth">
            <thead>
            <tr>
                <th><abbr title="Hashcat mode">Hashcat mode</abbr></th>
                <th><abbr title="Timestamp">Timestamp</abbr></th>
                <th><abbr title="Hash">Hash</abbr></th>
                <th><abbr title="Status">Status</abbr></th>
                <th><abbr title="Password">Password</abbr></th>
                <th><abbr title="Action">Action</abbr></th>
            </tr>
            </thead>
            <tbody>
            <p>Hashcat control pannel:</p>
            <div class="field is-grouped has-addons">
                <form action="{% url 'hashcat_sever:hashcat_action' %}" method="post">
                    {% if ordered == "start" %}
                        <button type="submit" class="button is-text" disabled>Start</button>
                    {% else %}
                        <input type="hidden" name="action" value="start">
                        <button type="submit" class="button is-text">Start</button>
                    {% endif %}
                </form>
                <form action="{% url 'hashcat_sever:hashcat_action' %}" method="post">
                    {% if ordered == "stop" %}
                        <button type="submit" class="button is-text" disabled>Stop</button>
                    {% else %}
                        <input type="hidden" name="action" value="stop">
                        <button type="submit" class="button is-text">Stop</button>
                    {% endif %}
                </form>
                <form action="{% url 'hashcat_sever:hashcat_action' %}" method="post">
                    {% if ordered == "restart" %}
                        <button type="submit" class="button is-text" disabled>Restart</button>
                    {% else %}
                        <input type="hidden" name="action" value="restart">
                        <button type="submit" class="button is-text">Restart</button>
                    {% endif %}
                </form>
            </div>
            {% if hashcat_status %}
                <p>Status: <b>{{ hashcat_status }}</b></p>
                <p>Last ping from hashcat: <b>{{ last_ping }}</b></p>
            {% else %}
                <p>Status: <b>Hashcat status not provided</b></p>
            {% endif %}
            <br>
            {% for list in hashlist_list %}
                <tr>
                    <td>{{ list.hash_type }}</td>
                    <td>{{ list.timestamp }}</td>
                    <td>{{ list.hash }}</td>
                    {% if list.status == "cracked" %}
                        <td><b>{{ list.status }}</b></td>
                    {% else %}
                        <td>{{ list.status }}</td>
                    {% endif %}
                    <td>{{ list.cracked_value }}</td>
                    {% if list.status == "Cracked" or list.status == "In queue" or list.status == "Cracking..." %}
                        <td>
                            <form method="post" action="{% url "hashcat_sever:remove_hash" %}">
                                <input type="hidden" name="hash" value="{{ list.hash }}">
                                <input type="hidden" name="hash_type" value="{{ list.hash_type }}">
                                <button type="submit" class="button is-danger is-outlined">
                        <span class="icon">
                            <i class="fas fa-trash-alt"></i>
                        </span>
                                    <span>
                            Delete
                        </span>
                                </button>
                            </form>
                        </td>
                    {% else %}
                        <td>
                            <div class="field is-grouped has-addons">

                                <form method="post" action="{% url "hashcat_sever:edit_hash" %}">
                                    <input type="hidden" name="hash" value="{{ list.hash }}">
                                    <input type="hidden" name="status" value="In queue">
                                    <input type="hidden" name="hash_type" value="{{ list.hash_type }}">
                                    <button type="submit" class="button is-success">
                        <span class="icon">
                            <i class="fas fa-plus"></i>
                        </span>
                                        <span>
                            Add to queue
                        </span>
                                    </button>
                                </form>
                                &nbsp;&nbsp;
                                <form method="post" action="{% url "hashcat_sever:remove_hash" %}">
                                    <input type="hidden" name="hash" value="{{ list.hash }}">
                                    <input type="hidden" name="hash_type" value="{{ list.hash_type }}">
                                    <button type="submit" class="button is-danger is-outlined">
                        <span class="icon">
                            <i class="fas fa-trash-alt"></i>
                        </span>
                                        <span>
                            Delete
                        </span>
                                    </button>
                                </form>
                            </div>
                        </td>
                    {% endif %}
                </tr>
            {% endfor %}
            </tbody>
        </table>
    {% else %}
        <p>Error: Database is either empty or migration wasn't made</p>
    {% endif %}
{% endblock %}